:root {
  --mainFont: Verdana, Geneva, Tahoma, sans-serif;
  --gradientColor: linear-gradient(20deg, rgb(0, 255, 242), rgb(0, 0, 255)) 10;
  --webkitGradiantMainHeader: -webkit-linear-gradient(
    20deg,
    rgb(0, 204, 255),
    blue
  );
  --headerColor: black;
  --navBarHoverColor: rgb(0, 204, 255);
  --navBarTextColor: #fff;
  --upperBarBackgroundColor: rgb(43, 43, 43);
  --upperFooterBackgroundColor: rgb(59, 59, 59);
  --lowerFooterBackgroundColor: rgb(29, 29, 29);
  --mainAboutmeButtonShadowColor: 0px 10px 15px rgba(0, 238, 255, 0.6);
  --mainAboutmeButtonBorderColor: rgb(0, 0, 255);
  --resumeButtonBackgroundColor: rgb(0, 0, 255);
  --resumeButtonBordercolor: rgb(0, 255, 242);
  --dotsColorAfterHeader: rgb(124, 124, 124);
  --aboutMeSectionBackgroundColor: rgb(36, 36, 36);
  --aboutMeParagraphHeading: white;
  --aboutMeParagraphTextColor: white;
  --blogLinearGradientBackground90Degree: linear-gradient(
    90deg,
    rgb(0, 255, 242),
    rgba(0, 0, 255, 0.493)
  );
  --blogParagraphColor: white;
  --gridItemBackground: rgb(231, 231, 231);
  --capabilitiesNumbersColor: white;
  --subscribeButtonBackground: rgb(0, 0, 255);
  --subscribeButtonShadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  --lowerFooterTextColor: white;
  --upperFooterParagraph: white;
  --blogBackgroundColor: linear-gradient(
    90deg,
    rgba(0, 255, 242, 0.616),
    rgba(0, 0, 255, 0.37)
  );
  --resumeBoxShadow: rgba(0, 0, 0, 0.2);
  --progressBarColor: linear-gradient(
    90deg,
    rgb(0, 195, 255),
    rgb(0, 119, 255)
  );
}
